// app global css in SCSS form
html,
body {
  background-color: $background;
  overscroll-behavior: none;
}

main {
  height: initial !important;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
}

.text-light {
  color: $light;
}

.bg-light {
  color: $light;
}

p {
  margin: 0;
}
/*
.q-btn {
  margin: 1rem 0;
  border-radius: 5px;
  background-color: $primary;
  padding: 1.2rem;
  width: 100%;
}
*/

.q-field {
  margin-bottom: 1rem;
  padding-bottom: 0;
}

.q-field .q-field__bottom {
  display: none;
}

.q-field.q-field--error {
  padding-bottom: 1.5rem;
  .q-field__bottom {
    display: initial;
  }
}

.q-field--error .q-field__bottom {
  background: var(--q-negative);
  color: white;
  padding: 0.3rem;
  border-radius: 0 0 5px 5px;
}

.q-list hr:last-child() {
  display: none;
}

label {
  margin-bottom: 1rem;
}

.q-stepper--horizontal .q-stepper__step-inner {
  padding: 1rem;
}

.q-date__content .q-btn {
  background-color: transparent;
}

.q-uploader,
.q-date {
  width: 100%;
  margin-bottom: 1rem;

  .q-btn {
    padding: 0.285em;
    margin: 0;
  }
}

.text-text {
  color: $text !important;
}

.q-dark {
  background-color: $step-850;
}

.q-panel {
  overflow: visible;
}

.q-timeline--dense--right .q-timeline__entry--icon .q-timeline__dot {
  left: 0px;
}

.q-uploader .q-btn {
  width: initial;
}

.default {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.q-tab--inactive {
  color: $text;
}

.q-lsist {
  background-color: $card;
}

// DARK THEME
.body--dark #q-app {
  .q-page-container {
    background-color: var(--q-dark-page);
  }

  #header {
    background-color: var(--q-dark-page);
    color: $background;
  }

  .text-text {
    color: $white !important;
  }

  .q-tab--inactive {
    color: $white;
  }

  .q-list {
    background-color: $step-850;
  }

  nav {
    filter: drop-shadow(0px 0px 1px $step-950);

    a:not(nav .action-btn a) {
      background-color: $step-800;
      color: $background;
    }
  }

  form {
    background-color: $step-850;
    color: $background;
  }

  .card {
    background-color: $step-850;
    filter: drop-shadow(0px 0px 2px var(--q-dark-page));
    color: $background;
  }
}


.q-table__card--dark, .q-table--dark, .q-menu--dark, .q-stepper--dark {
  box-shadow: 0 1px 5px #00000033, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}