form {
  background-color: $card;
  padding: 1rem;
  overflow: hidden;
}

.error-label {
  padding: 0.5rem;
  background: $negative;
  color: white;
  margin-top: 0;
  border-radius: 0 0 5px 5px;
}

.body--dark #q-app {
  .bg-white {
    background: $dark !important;
  }
}

body.dark {
  label {
    input,
    textarea,
    button {
      background-color: $step-150;

      &:focus,
      &:focus-visible {
        background-color: $step-250;
      }
    }
  }
}
