<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
				<key>dateExpires</key>
				<string>18/01/2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorFilesystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorGeolocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorPushNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E75F817DB424F7071C94A1FF833131AE636E09A</string>
						<key>dateExpires</key>
						<string>18/01/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8WLSHT3D39</string>
						<key>name</key>
						<string>Rutger De Wilde</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8WLSHT3D39.org.capacitor.billbudy.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8WLSHT3D39</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0fa09980-1dcc-4bf9-82d2-6aa57d7f84b6</string>
				<key>dateExpires</key>
				<string>18/01/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8WLSHT3D39</string>
				<key>name</key>
				<string>Rutger De Wilde</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
